services:

  qdrant:
    image: qdrant/qdrant
    container_name: qdrant-db
    ports:
      - "6333:6333"
    volumes:
      - qdrant_storage:/qdrant/storage

  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    environment:
      QDRANT_URL: http://qdrant:6333
    depends_on:
      - qdrant

  frontend:
    build: ./frontend
    environment:
      - INTERNAL_API_URL=http://backend:8000
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend

volumes:
  qdrant_storage: