CONFLUENCE_DOMAIN=your-domain.atlassian.net
CONFLUENCE_USERNAME=your-email
CONFLUENCE_API_TOKEN=your-confluence-api-token

DATABASE_URL=postgresql://user:password@localhost:port/your-database

GROQ_API_KEY=your-groq-api-key
HF_API_TOKEN=your-huggingface-api-token

JWT_SECRET_KEY=your-jwt-secret-key
JWT_ALGORITHM=your-jwt-algorithm
JWT_EXPIRATION_MINUTES=your-jwt-expiration-minutes