__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
venv/
.env
*.sqlite3

.git/
../.gitignore

build/
dist/
htmlcov/

Dockerfile*
docker-compose.override.yml

.vscode/
.idea/
*.log
*.swp
.DS_Store

data/
models/
cache/
tests/